@model BeerPal.Models.Single.IndexVm

@{
    ViewBag.Title = "Brewery Tour";
}

<div class="heads" style="background: url(/public/img/brewery-back1.jpg) 50% 27%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span>//</span> Brewery Tour</h2>
            </div>
        </div>
    </div>
</div>

<!-- begin:content -->
<div class="page-content">
    <div class="container">
        <div class="row confirm">
            <div class="col-md-12">
                @using (Html.BeginForm("Index", "Single", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <h3 class="text-center">Ticket for @Model.TourDate.ToString("dddd, dd MMMM yyyy")</h3>
                    <hr>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control"})
                            <div class="help-block">
                                @Html.ValidationMessageFor(x => x.FirstName)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.LastName, new {@class = "form-control"})
                            <div class="help-block">
                                @Html.ValidationMessageFor(x => x.LastName)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.Email, new {@class = "form-control"})
                            <div class="help-block">
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-warning">Pay $@((Model.Price/100M).ToString("0.00")) with PayPal</button>
                        </div>
                    </div>                    
                }
            </div>
        </div>
    </div>
</div>
<!-- end:content -->
