<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>BeerPal Brewery</title>

    <!-- Bootstrap core CSS -->
    <link href="~/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/public/css/style.css" rel="stylesheet">
    <link href="~/public/css/responsive.css" rel="stylesheet">
    <link href="~/Public/css/wizard.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="~/public/js/html5shiv.js"></script>
      <script src="~/public/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="~/">BeerPal Brewery</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-left">
                    <li class="active"><a href="~/">Home</a></li>
                    <li><a href="@Url.Action("Index", "Single")">Tour</a></li>
                    <li><a href="@Url.Action("Index", "ECommerce")">Beers</a></li>                    
                    <li><a href="@Url.Action("Index", "Subscription")">Subscriptions</a></li>                    
                </ul>
                <a href="~/" class="logo visible-lg visible-md"><img src="~/public/img/beer-glass.png" alt="dodolan manuk responsive catalog themes"></a>
                <div id="brand" class="visible-lg visible-md">&nbsp;</div>
                <ul class="nav navbar-nav nav-right">
                    @*<li><a href="pricing.html">Price</a></li>*@
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="product.html">Canary</a></li>
                            <li><a href="product.html">Emprit</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Doro <i class="fa fa-caret-down icon-dropdown"></i></a>
                                <ul class="dropdown-menu sub-menu">
                                    <li><a href="product.html">Doro Pos</a></li>
                                    <li><a href="product.html">Doro Kucir</a></li>
                                    <li><a href="product.html">Doro Belehan</a></li>
                                    <li><a href="product.html">Doro Sungut</a></li>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li><a href="product.html">Pitik</a></li>
                            <li><a href="product.html">Cucak Rowo</a></li>
                        </ul>
                    </li>*@
                    <li><a href="@Url.Action("Cart", "ECommerce")">Cart</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "WebExperienceProfiles")">Web Experience Profiles</a></li>
                            <li><a href="@Url.Action("Index", "BillingPlans")">Billing Plans</a></li>
                            <li><a href="@Url.Action("Index", "Webhooks")">Webhooks</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Sales")">Sales</a></li>
                            <li><a href="@Url.Action("Index", "Subscribers")">Subscribers</a></li>
                            <li><a href="@Url.Action("Index", "WebhookEvents")">Webhook Events</a></li>
                        </ul>
                    </li>
                </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

@RenderBody()

    <div class="footer">

        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <small><a href="https://bencull.com" style="color:#fff">Made with <i class="fa fa-heart"></i> by Ben Cull</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/public/js/jquery.js"></script>
    <script src="~/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="~/public/js/gmap3.js"></script>
    <script src="~/public/js/script.js"></script>

</body>
</html>